.tableCtn {
    display: block;
    padding: 25px;
    width: -webkit-fill-available;
}

.songTable {
    display: table;
    width: 100%;
    border: 1px solid;
    overflow-y: scroll;
}

.tableHead {
    height: 15px;
}

th {
    background-color: #1d518d;
    color: white;
    height: 70px;
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    font-size: larger;
}

td {
    border: 1px solid;
    font-size: large;
}

tr:nth-child(even) {background-color: #ffffff1a;}

td:nth-child(1) {
    text-align: center;
}
